<template id="login-form">
    <div class="login-wrapper">
        <div class="login-left">
            <div>
                <img width="550" height="500" src="https://www.mypressplus.com/wp-content/uploads/2019/03/684774092.jpg">
            </div>
        </div>
        <form class="login-right" @submit.prevent>

            <div class="form-group">
                <input type="text" placeholder="Fullname" v-model="name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="ID" v-model="id">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Address" v-model="address">
            </div>
            <div class="form-group">
                <span class="mr-4">Date of Birth :</span>
                <input type="date" placeholder="Date" v-model="dob">
            </div>
            <div class="form-group">
                <span class="mr-8">Start from :</span>
                <input type="date" placeholder="Start" v-model="start">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Phone" v-model="phone">
            </div>
            <div class="form-group">
                <div class="column" >
                    <input type="text" placeholder="Position" v-model="position">
                </div>
                <div class="column">
                    <input type="text" placeholder="Phep" v-model="phep">
                </div>
            </div>
            <div class="button-area">
                <input type="submit" class="btn btn-success" value="Submit" v-on:click="addEmployees"/>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                id: '',
                name: '',
                address: '',
                dob: '',
                start: '',
                phone: '',
                position: '',
                phep:''
            };
        },
        beforeMount() {
            let init = 1000;
            setTimeout(function () {
                document.querySelector(".login-wrapper").classList.toggle("open");
                init = 1000;
            }, init);
        },
        methods: {
            addEmployees() {
                const path = 'http://localhost:5001/employees'
                const payload = {
                    name: this.name,
                    id: this.id,
                    address: this.address,
                    dob: this.dob,
                    start: this.start,
                    phone: this.phone,
                    position: this.position,
                    phep: this.phep,
                }
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                        this.getEmployees();
                    });
                alert('Add Employee Succeess')
            },
        },
        created() {
            this.getEmployees();
        },
    }
    ;
</script>
<style>
{
    box-sizing: border-box;
}
/* Set additional styling options for the columns*/
.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}
</style>