<template id="login-form">
    <div class="login-wrapper">
        <div class="login-left">
            <div>
                <img width="500" height="300" src="https://static5.depositphotos.com/1031343/510/v/950/depositphotos_5107733-stock-illustration-holiday-title.jpg">
            </div>
            <br>
        </div>
        <form class="login-right" @submit.prevent>
            <div class="form-group mt-12">
                <input type="text" placeholder="Name of holiday" v-model="name">
            </div>
            <div class="form-group">
                <span class="mr-7">From</span>
                <input type="date" v-model="from">
            </div>
            <div class="form-group">
                <span class="mr-12"> To</span>
                <input type="date" v-model="to">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Information" v-model="infor">
            </div>
            <div class="button-area mt-12">
                <input type="submit" class="btn btn-success" value="Submit" v-on:click="h" />
            </div>
        </form>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        data() {
            return {
                name:'',
                from:'',
                to:'',
                infor:''
            };
        },
        beforeMount() {
            let init = 1000;
            setTimeout(function () {
                document.querySelector(".login-wrapper").classList.toggle("open");
                init = 300;
            }, init);
        },
        methods: {
            h() {
                const path = 'http://localhost:5001/holidays';
                const payload = {
                    name: this.name,
                    from: this.from,
                    to:this.to,
                    infor:this.infor
                }
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                        this.geth();
                    });
                alert ('Add Holiday Succeess')
            },
        },
        created() {
            this.geth();
        },
    }
    ;
</script>
<style>
    p.c {
    white-space: pre;
    }
</style>