<template id="login-form">
    <div class="login-wrapper">
        <div class="login-left">
            <div>
                <img width="500" height="500" src="https://previews.123rf.com/images/argus456/argus4561605/argus456160508196/56060670-day-off-3d-rendering-yellow-road-sign-on-a-white-background.jpg">
            </div>
            <br>

        </div>
        <form class="login-right" @submit.prevent>

            <div class="form-group mt-12">
                <select name="fullname" @change="onChange($event)" class="form-control " v-model="e_id">
                    <option value="" disabled selected hidden>Full Name</option>
                    <option value="1905003">Dinh Hong Son</option>
                    <option value="1905002">Dang Tung Long</option>
                    <option value="1905001">Trinh Thuy Dung</option>
                    <option value="1907003">Vu Hien Luong</option>
                    <option value="1907002">Nguyen Minh Thang</option>
                    <option value="1907001">Nguyen Minh Anh</option>
                    <option value="1905003">Nguyen Hoang Son</option>
                    <option value="1907005">Nguyen Thi Trang</option>
                    <option value="2006003">Vu Tam Anh	</option>
                    <option value="2002001">Pham Minh Duc	</option>
                    <option value="2006001">Nguyen Nam Anh	</option>
                    <option value="1912002">Nguyen The Tung</option>
                    <option value="2003001">Nguyen Viet Trung</option>
                    <option value="2001002">Pham Gia Khanh	</option>
                    <option value="2004004">Nguyen Ton Tu</option>
                    <option value="2004005">Phung Thi Van Chi</option>
                    <option value="2004002">Nguyen The Anh Son</option>
                    <option value="2004003">Nguyen Thanh Dat</option>
                    <option value="2007001">Le Khac Toan</option>
                    <option value="2004001">Nguyen Viet Hung</option>
                    <option value="2001001">Pham Thanh Binh	</option>
                </select>
            </div>
            <div class="form-group">
                <select name="timeoff" @change="onChange($event)" class="form-control " v-model="timeoff">
                    <option value="" disabled selected hidden>Time Off</option>
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="form-group">
                <span class="mr-4">From :</span>
                <input type="date" v-model="from"/>
            </div>
            <div class="form-group">
                <span class="mr-9">To :</span>
                <input type="date" v-model="to"/>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Reason" v-model="reason">
            </div>
            <div class="button-area">
                <input type="submit" class="btn btn-outline-success" value="Submit" v-on:click="addEmployees" />
            </div>
        </form>
    </div>
</template>

<script>

    import axios from "axios";
    export default {
        data() {
            return {
                e_id:'',
                timeoff:'',
                from: '',
                to:'',
                reason:''
            };
        },
        beforeMount() {
            let init = 1000;
            setTimeout(function () {
                document.querySelector(".login-wrapper").classList.toggle("open");
                init = 300;
            }, init);
        },
        methods: {
            addEmployees() {
                const path = 'http://localhost:5001/workoffs';
                const payload = {
                    e_id: this.e_id,
                    timeoff: this.timeoff,
                    from : this.from,
                    to: this.to,
                    reason: this.reason,
                }
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                        this.getEmployees();
                    });
                alert ('Succeess')
            },
        },
        created() {
            this.getEmployees();
        },
    }
    ;
</script>
