<template id="login-form">
    <div class="login-wrapper">
        <div class="login-left">
            <div>
                <img width="379" height="350" src="https://soict.org/public/img/soict-new.png">
            </div>
        </div>
        <form class="login-right" @submit.prevent>

            <div class="form-group">
                <input type="text" placeholder='name' v-model="name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Address" v-model="address">
            </div>
            <div class="form-group">
                <span class="mr-4">Date of Birth :</span>
                <input type="date" placeholder="Date" v-model="dob">
            </div>
            <div class="form-group">
                <span class="mr-8">Start from :</span>
                <input type="date" placeholder="Start" v-model="start">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Phone" v-model="phone">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Position" v-model="position">
            </div>
            <div class="button-area">
                <input type="submit" class="btn btn-success" value="Submit" v-on:click="updateEmployees"/>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        data() {
            return {
                name: '',
                address: '',
                dob: '',
                start: '',
                phone: '',
                position: ''
            };
        },
        beforeMount() {
            let init = 1000;
            setTimeout(function () {
                document.querySelector(".login-wrapper").classList.toggle("open");
                init = 1000;
            }, init);
        },
        methods: {
            updateEmployees(id) {
                const path = 'http://localhost:5001/employees/edit/'+id;
                const payload = {
                    name: this.name,
                    address: this.address,
                    dob: this.dob,
                    start: this.start,
                    phone: this.phone,
                    position: this.position,
                }
                axios.put(path, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                        this.getEmployees();
                    });
                alert('Add Employee Succeess')
            },
            // getEmployee(id)
            //     const path = 'http://localhost:5001/employees/' + id;
            //     axios.get(path)
            //         .then((res) => {
            //             console.log(res);
            //             this.employees = res.data;
            //         })
            //         .catch((error) => {
            //             // eslint-disable-next-line
            //             console.error(error);
            //         });
            // }
        },
        // created() {
        //     this.getEmployee();
        // },
    }
</script>

<style scoped>

</style>