<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>EMPLOYEES</h1>
                <span>Total : {{resultCount}} people</span>

                <br><br>
                <a href="addemployee" class="btn btn-outline-success"> Add Employee </a>
                <v-btn class="btn btn-outline-success ml-12">
                    <input type="text" v-model="search_name" placeholder="Search Name">
                    <v-icon>mdi-account-search</v-icon>
                </v-btn>
                <input type="submit" class="btn btn-outline-danger mx-6" value="DOB Up" v-on:click="sortLowest()" />
                <input type="submit" class="btn btn-outline-danger mx-6" value="DOB Down" v-on:click="sortHighest()" />
                <table class="table table-hover">
                    <tr>
                        <th scope="col">ID</th>
                        <th>Full Name</th>
                        <th>Address</th>
                        <th>Date of Birth</th>
                        <th>Start</th>
                        <th>Phone</th>
                        <th>Position</th>
                        <th>Phep</th>
                        <th></th>
                    </tr>
                    <tr v-for="(employee, index) in filterEmployees" :key="index">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.address}}</td>
                        <td>{{employee.dob}}</td>
                        <td>{{employee.start}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.position}}</td>
                        <td>{{employee.phep}}</td>
                        <td>
                            <a href="addemployee" class="btn btn-outline-warning mx-4 "> Edit </a>
                            <input type="submit" class="btn btn-outline-danger mx-6" value="Delete" v-on:click="remove(index, employee.id)" />
                        </td>


                    </tr>

                </table>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                employees: [],
                search_name: '',
            };
        },
        computed:{
          resultCount(){
              return this.employees.length
          },
          filterEmployees: function(){
              return this.employees.filter((employee) =>{
                  return employee.name.match(this.search_name)
                  }
              )
          },
        },

        methods: {
            sortLowest(){
            this.employees.sort((a,b) =>a.dob>b.dob ? 1:-1);
            },
            sortHighest(){
            this.employees.sort((a,b) =>a.dob<b.dob ? 1:-1);
            },
            getEmployees() {
                const path = 'http://localhost:5001/employees';
                axios.get(path)
                    .then((res) => {
                        console.log(res);
                        this.employees = res.data;
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                    });
            },
            remove(index, id){
                this.employees.splice(index, 1);
                const path = 'http://localhost:5001/employees/'+id;
                axios.delete(path)
                  .then((res) => {
                    console.log(res);
                  });
            }
        },
        created() {
            this.getEmployees();
        },
    };
</script>