<template id="login-form">
    <v-card class="center" >
        <v-row>
            <v-col>
                <div class="ma-12">
                    <img width="379" height="280" src="https://image.opencart.com/cache/589d9e97c4b3e-resize-710x380.jpg">
                </div>
            </v-col>
            <v-col>
                <form class="my-12 mx-4">
                    <h6>Select month</h6>
                    <select name="year" class="form-control " v-model="month">
                        <option disabled value="">Month</option>
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">July</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                        <h6>Select year</h6>
                        <select name="month" class="form-control " v-model="year">
                            <option disabled value="">Year</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>

                    <div class="button-area my-12">
                        <input type="submit" class="btn btn-outline-danger mr-4" value="Export to Server" v-on:click="exportServer" />
                        <input type="submit" class="btn btn-outline-primary" value="Download" v-on:click="download" />
                    </div>
                </form>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>

    import axios from "axios";
    export default {
        data() {
            return {
                month:'',
                year:''
            };
        },
        methods: {
            exportServer() {
                const path1 = 'http://localhost:5001/exportfile';
                const payload = {
                    month: this.month,
                    year: this.year,
                }
                axios.post(path1, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        console.error(error);
                        this.exportServer();
                    });

                alert ('Export success');
            },
            download(){
                const path='http://127.0.0.1:5001/about/'+this.month+this.year+'.xlsx';
                axios(  {url:path,method:'GET',responseType: 'blob',})
                    .then((response) => {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', this.month+this.year+'.xlsx');
                        document.body.appendChild(link);
                        link.click();
                    });
                alert ('download Success')
            },
        },
        created() {
            this.getEmployees();
        },
    }
    ;
</script>
<style>
    .center {
        margin-left: 350px;
        margin-top: 160px;
        width: 800px;
        height: 450px;
    }
</style>