<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>HOLIDAY</h1>
                <br><br>
                <a href="addholiday" class="btn btn-outline-success"> Add Holiday </a>
                <v-btn class="btn btn-outline-success ml-12">
                    <input type="text" v-model="search" placeholder="Search Name">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <input type="submit" class="btn btn-outline-danger mx-6" value="Sort Up" v-on:click="sortLowest()" />
                <input type="submit" class="btn btn-outline-danger mx-6" value="Sort Down" v-on:click="sortHighest()" />
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th scope="col">Name</th>
                        <th>Date</th>
                        <th>Detail</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(holiday, index) in filterHolidays" :key="index">
                        <td>{{holiday.id}}</td>
                        <td>{{holiday.name}}</td>
                        <td>{{holiday.dateoff}}</td>
                        <td>{{holiday.infor}}</td>
                        <td>
                            <a href="addholiday" class="btn btn-outline-warning mx-4 "> Edit </a>
                            <input type="submit" class="btn btn-outline-danger" value="Delete" v-on:click="remove(index, ho.id)" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                holidays: [],
                search:'',
            };
        },
        computed:{
          filterHolidays: function(){
              return this.holidays.filter((holiday) =>{
                  return holiday.name.match(this.search)
                  }
              )
          },
        },
        methods: {
            sortLowest(){
            this.holidays.sort((a,b) =>a.dateoff>b.dateoff ? 1:-1);
            },
            sortHighest(){
            this.holidays.sort((a,b) =>a.dateoff<b.dateoff ? 1:-1);
            },
            getHolidays() {
                const path = 'http://localhost:5001/holidays';
                axios.get(path)
                    .then((res) => {
                        this.holidays = res.data;
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            },
            remove(index, id){
                this.holidays.splice(index, 1);
                const path = 'http://localhost:5001/holidays/'+id;
                axios.delete(path)
                  .then((res) => {
                    console.log(res);
                  });
            }

        },
        created() {
            this.getHolidays();
        },
    };
</script>
