<template>
  <v-card>
    <v-row align="center">
      <v-card
        class=" mx-12 mt-4"
        color ='#f525b3'
      >
          <v-list-item-content class="ml-4">
            <span class="headline mb-4  ml-4">{{resultCountEmployees}} Employees</span>
            <v-list-item-title class="ml-4">work in company</v-list-item-title>
          </v-list-item-content>
      </v-card>
      <v-card
        class="mx-12 mt-4"
        color="#f525b3"
      >
        <v-list-item>
          <v-list-item-content class="mx-6">
            <span class="headline mb-4">{{resultCountHolidays}} Holiday</span>
            <v-list-item-title class="mr-12">in this year</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-card>
      <v-card
        class="mx-8 mt-4"
        color="#f525b3"
      >
        <v-list-item >
          <v-list-item-content class="mx-6">
            <span class="headline mb-4">{{resultCountWorkOff}} Employees</span>
            <v-list-item-title>take day-off</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-card>
      <v-card
        class="mx-10 mt-4"
        color="#f525b3"
      >
        <v-list-item three-line>
          <v-list-item-content class="mx-4">
            <span class="headline mb-4 mr-6">+ {{perform}} %</span>
            <v-list-item-title class="mr-12">Performence</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-row>
    <v-row align="center"
    >
      <v-col cols="7" class="px-12">
        <column-chart title="Holiday in 2020" :colors="['#f525b3', '#666']" :data="chartColumn"></column-chart>
      </v-col>
      <v-col cols="3" class="pa-12">
        <v-card
          class="pa-400"
        >
           <v-date-picker v-model="picker" color="pink" full-width></v-date-picker>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center"
    >
      <v-col cols="7" class="px-12">
        <column-chart title="Day-off of Employees in June" :colors="['#f525b3', '#666']" :data="chartLine"></column-chart>
      </v-col>
      <v-col cols="3" class="pa-12">
        <v-card
          class="pa-2"
        >
          <pie-chart title="People" :data="chartPie"></pie-chart>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import axios from "axios";

  export default {
    data () {
      return {
        employees: [],
        workoffs:[],
        holidays:[],
        perform: 140,
        drawer: true,
        chartPie:[ ['Manager', 3],['Leader',5],['HR',3],['Employees', 44]],
        chartLine:{1: 0,2:0,3: 2,4:0,5: 2,6:0,7:0,8: 1,9:0,10:0, 11: 2,12:0, 13:0, 14:0, 15:2,16:0,17:0, 18:4,19:0,20:0, 21:0, 22:1,23:0, 24:0, 25:1,26:0, 27:0, 28:5,29:0, 30:1},
        chartColumn:[['Jan', 0], ['Feb', 10],['Mar', 0], ['Apr', 1],['May', 1], ['Jun', 0],['July',0],['Aug',0],['Sep',1],['Oct',0],['Nov',0],['Dec',0]],
        color: 'primary',
        colors: [
          'primary',
          'blue',
          'success',
          'red',
          'teal',
        ],
        right: true,
        miniVariant: true,
        expandOnHover: true,
        background: true,
      }
    },
    computed:{
      resultCountEmployees(){
          return this.employees.length


      },
      resultCountWorkOff() {
          return this.workoffs.length
      },
      resultCountHolidays(){
          return this.holidays.length
      }
    },
    methods:{
      getEmployees() {
          const path = 'http://localhost:5001/employees';
          axios.get(path)
              .then((res) => {
                  this.employees = res.data;
              })
              .catch((error) => {
                  console.error(error);
              });
      },
      getWorkoffs() {
          const path = 'http://localhost:5001/workoffs';
          axios.get(path)
              .then((res) => {
                  this.workoffs = res.data;
              })
              .catch((error) => {
                  // eslint-disable-next-line
                  console.error(error);
              });
      },
      getHolidays() {
          const path = 'http://localhost:5001/holidays';
          axios.get(path)
              .then((res) => {
                  this.holidays = res.data;
              })
              .catch((error) => {
                  console.error(error);
              });
      },

    },
    created() {
      this.getEmployees();
      this.getWorkoffs();
      this.getHolidays();
    },
  }
</script>