<template id="login-form">
    <div class="login-wrapper">
        <div class="login-left">
            <img width="379" height="500" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBYa2-VoLp_-bBBWUMJN7cB2rseaPkRKgz2xVsFsooP1TBos6m&usqp=CAU">
        </div>
        <form class="login-right" @submit.prevent>
            <img width="310" height="100" src="https://employeecaremanagement.org/wp-content/uploads/2017/05/employee-care-management-logo-transp-311px.png">
            <div class="form-group">
                <input type="text" id="username" placeholder="Username" v-model="username">
            </div>
            <div class="form-group">
                <input type="text" id="email" placeholder="Email" v-model="email">
            </div>
            <div class="form-group">
                <input type="password" id="Password" placeholder="Password" v-model="password">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm Password" v-model="confirm_password">
            </div>
            <div class="button-area">
                <button class="btn btn-success" @click="register()" >Register</button>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: "LoginForm",
        // template: "#login-form",
        data() {
            return {
                username: "",
                email: "",
                password: "",
                confirm_password:""
            };
        },
        beforeMount() {
            let init = 1000;
            setTimeout(function() {
                document.querySelector(".login-wrapper").classList.toggle("open");
                init = 300;
            }, init);
        },
        methods: {
            register() {
                const path = 'http://localhost:5001/accounts/register'
                const payload = {
                    username: this.username,
                    email: this.email,
                    password: this.password,
                    confirm_password: this.confirm_password,
                }
                axios.post(path, payload)
                    .then((res) => {
                        console.log(res);
                    })
                    .catch((error) => {
                        console.error(error);
                    });
                alert('Create Account Success')
            },
        }
    };
</script>

<style scoped>
    * {
        box-sizing: border-box;
    }
    html,
    body {
        margin-left: 0;
        margin-top: 0;
        padding: 0 ;
        height: 100%;
    }
    input {
        font-family: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        font-size: 16px;
        color: #000;
        border-radius: 0;
        border-botton: 0;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #aaaaaa;
    }
    button,
    input:focus {
        outline: 0;
    }
    ::-webkit-input-placeholder {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.00933333em;
    }
    .form-group {
        position: relative;
        padding-top: 15px;
        margin-top: 10px;
    }
    label {
        position: absolute;
        top: 0;
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        color: #aaa;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: -0.00933333em;
        transition: all 0.2s ease-out;
    }
    input:placeholder-shown + label {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }
    .h1 {
        color: #fff;
        opacity: 0.8;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2405em;
        transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
        text-align: center;
        cursor: pointer;
        position: absolute;
        transform: translateY(-10px);
    }
    .open .h1 {
        -webkit-transform: translateX(200px) translateZ(0) translateY(-10px);
        transform: translateX(200px) translateZ(0) translateY(-10px);
    }
    .h2 {
        color: #000;
        font-size: 20px;
        letter-spacing: -0.00933333em;
        font-weight: 600;
        padding-bottom: 15px;
    }
    .login-wrapper {
        width: 800px;
        height: 600px;
        background-color: #fff;
        box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow: hidden;
        position: relative;
    }
    .login-left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
        overflow: hidden;
    }
    .login-left img {
        display: block;
        transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
        object-position: left;
    }
    .open .login-left img {
        -webkit-transform: translateX(210px) translateZ(0);
        transform: translateX(210px) translateZ(0);
    }
    .open .login-left {
        -webkit-transform: translateX(-400px) translateZ(0);
        transform: translateX(-400px) translateZ(0);
    }
    .login-right {
        padding: 40px;
        position: absolute;
        top: 0;
        right: 0;
        width: 400px;
        -webkit-transform: translateX(400px) translateZ(0);
        transform: translateX(400px) translateZ(0);
        transition: all 770ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
    }
    .open .login-right {
        -webkit-transform: translateX(0px) translateZ(0);
        transform: translateX(0px) translateZ(0);
    }
    .button-area {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

</style>