<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Salary in 09/2019</h1>

        <br><br>
        <v-btn class="btn btn-outline-success">
            <input type="text" v-model="search_note" placeholder="Search">
            <v-icon>mdi-account-search</v-icon>
        </v-btn>
        <input type="submit" class="btn btn-outline-danger mx-6" value="Sort Up" v-on:click="sortLowest()" />
        <input type="submit" class="btn btn-outline-danger mx-6" value="Sort Down" v-on:click="sortHighest()" />
        <table class="table table-hover">
          <thead>
          <tr>
            <th>E_ID</th>
            <th>Pay</th>
            <th>Figure</th>
            <th>Days</th>
            <th >Reward</th>
            <th>Sub</th>
            <th >Total</th>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(sa, index) in filterWorks" :key="index">
            <td>{{sa.e_id}}</td>
            <td>{{sa.pay}}</td>
            <td>{{sa.figure}}</td>
            <td>{{sa.time}}</td>
            <td>{{sa.reward}}</td>
            <td>{{sa.sub}}</td>
            <td>{{sa.total}}</td>
            <td>{{sa.note}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
  import axios from 'axios';
  export default {
    data() {
      return {
        salaries: [],
        search_note: '',
      };
    },
    computed:{
      filterWorks: function(){
          return this.salaries.filter((salary) =>{
              return salary.note.match(this.search_note)
              }
          )
      },
    },
    methods: {
      sortLowest(){
        this.salaries.sort((a,b) =>a.total>b.total ? 1:-1);
      },
      sortHighest(){
        this.salaries.sort((a,b) =>a.total<b.total ? 1:-1);
      },
      getSalaries() {
        const path = 'http://localhost:5001/salaries';
        axios.get(path)
                .then((res) => {
                  console.log(res);
                  this.salaries = res.data;
                })
                .catch((error) => {
                  // eslint-disable-next-line
                  console.error(error);
                });
      },
    },
    created() {
      this.getSalaries();
    },
  };
</script>
