<template>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>WORK OFF</h1>
                <br><br>
                <a href="addworkoff" class="btn btn-outline-success"> Add Work Off </a>
                <v-btn class="btn btn-outline-success ml-12">
                    <input type="text" v-model="search_id" placeholder="Search Reason">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <input type="submit" class="btn btn-outline-danger mx-6" value="Day-Off Up" v-on:click="sortLowest()" />
                <input type="submit" class="btn btn-outline-danger mx-6" value="Day-Off Down" v-on:click="sortHighest()" />
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th>E_Id</th>
                        <th>Timeoff (H)</th>
                        <th>Dateoff</th>
                        <th>Reason</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(work, index) in filterWorks" :key="index">
                        <td>{{work.id}}</td>
                        <td>{{work.e_id}}</td>
                        <td>{{work.timeoff}}</td>
                        <td>{{work.dateoff}}</td>
                        <td>{{work.reason}}</td>
                        <td>
                            <a href="addworkoff" class="btn btn-outline-warning mx-4"> Edit </a>
                            <input type="submit" class="btn btn-outline-danger" value="Delete" v-on:click="remove(index, work.id)" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>


<script>
    import axios from 'axios';


    export default {
        data() {
            return {
                works: [],
                search_id: '',
            };
        },
        computed:{
          filterWorks: function(){
              return this.works.filter((work) =>{
                  return work.reason.match(this.search_id)
                  }
              )
          },
        },
        methods: {
            sortLowest(){
            this.works.sort((a,b) =>a.dateoff>b.dateoff ? 1:-1);
            },
            sortHighest(){
            this.works.sort((a,b) =>a.dateoff<b.dateoff ? 1:-1);
            },
            getWorks() {
                const path = 'http://localhost:5001/workoffs';
                axios.get(path)
                    .then((res) => {
                        this.works = res.data;
                    })
                    .catch((error) => {
                        // eslint-disable-next-line
                        console.error(error);
                    });
            },
            remove(index, id){
                this.works.splice(index, 1);
                const path = 'http://localhost:5001/workoffs/'+id;
                axios.delete(path)
                  .then((res) => {
                    console.log(res);
                  });
            },
        },
        created() {
            this.getWorks();
        },
    };
</script>
<style>
    .divider{
    width:50px;
    height:auto;
    display:inline-block;
}
</style>
