<template>
  <v-app>

    <v-content>
      <router-view/>
    </v-content>

    <v-navigation-drawer
      v-model="drawer"
      :color="color"
      :expand-on-hover="expandOnHover"
      :mini-variant="miniVariant"
      :right="right"
      :src="bg"
      absolute
      dark
    >
      <v-list
        dense
        nav
        class="py-0"
      >
        <v-list-item two-line :class="miniVariant && 'px-0'">
          <v-list-item-avatar>
            <img src="https://images.pexels.com/photos/279467/pexels-photo-279467.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>Satomi</v-list-item-title>
            <v-list-item-subtitle>Nguyen Thi Huyen Trang</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.link"
          class="my-10"
        >

          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-app>

</template>

<script>
  export default {
    data () {
      return {
        drawer: true,
        items: [
          { title: 'Dashboard', icon: 'mdi-view-dashboard',link:'/'},
          { title: 'Employees', icon: 'mdi-account',link:'/employees' },
          { title: 'Workoffs', icon: 'mdi-car',link:'/workoffs' },
          { title: 'Holidays', icon: 'mdi-calendar-today', link:'/holidays'},
          { title: 'Salaries', icon: 'mdi-currency-usd', link:'/salary'},
          { title: 'Export', icon: 'mdi-file-excel',link:'/export' },
          { title: 'Logout', icon: 'mdi-logout', link:'/login'}
        ],
        color: 'primary',
        colors: [
          'primary',
          'blue',
          'success',
          'red',
          'teal',
        ],
        right: true,
        miniVariant: false,
        expandOnHover: false,
        background: true,
      }
    },
    computed: {
      bg () {
        return this.background ? 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdZ340JktDSWJbP1UqTNZ_fPMPOJTeN0mi4Q&usqp=CAU' : undefined
      },
    },
  }
</script>